--- # set_homebrewã®roles
- name: Download Homebrew
  become: yes
  get_url:
    url: https://raw.githubusercontent.com/Homebrew/install/master/install.sh
    dest: "{{ homebrew_state.path2 }}"
    # mode: '0440'
# =================================================
- name: Exist checking linuxbrew path
  stat:
    path: "{{ homebrew_state.path2 }}"
  register: st

- name: debug
  debug: var=st.stat.exists

- name: Set homebrew path
  shell: eval $("{{ homebrew_state.path2 }}"/bin/brew shellenv)
  when: st.stat.exists == true
# =================================================
- name: Set permission to .bash_profile
  file:
    path: ~/.bash_profile
    owner: ec2-user
    group: ec2-user
    mode: u=rw,g=r,o=r
  register: file

- name: debug
  debug: var=file.mode

- name: Put a shellenv into .bash_profile
  shell: echo "eval \$($(brew --prefix)/bin/brew shellenv)" >>~/.bash_profile && source ~/.bash_profile
  when: file.mode == "0644"

- name: Put a shellenv into .profile
  shell: echo "eval \$($(brew --prefix)/bin/brew shellenv)" >>~/.profile && source ~/.profile
# =================================================
- import_tasks: brew_installs.yml
